.banner {
		background-image: url('C:/Users/faust/OneDrive/Bureau/coding skills/images/jo.jpg');
		text-align: center;
		height: 40vh;
		background-position: 50% 60%;
		margin: 20px;
		padding:10px;

}